.sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}

.sidebar-logo {
  color: #ff7e7e;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-portrait {
  border-radius: 100%;
  padding: 25px;
  background: #d3d3d3;
  margin-right: 20px;
}

.sidebar-leadboxes {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar-inactive-box > p {
  color: #818181;
  cursor: pointer;
}

.sidebar-inactive-box > p:hover {
  color: #000000;
}

.sidebar-active-box > p {
  color: #ff7e7e;
}

.sidebar-active-box,
.sidebar-inactive-box {
  margin-bottom: 5px;
}

.sidebar-bottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.sidebar-bottom-button {
  padding: 10px;
  border-radius: 5%;
  background: #ff7e7e;
  cursor: pointer;
}

.button-text:hover {
  color: #fff;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 12vh;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hb-icon {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }

  .sidebar-info {
    width: 95%;
    margin: 4px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 0.5px #bebdbd;
    border-top: solid 0.2px #bebdbd;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 8px;
  }

  .user-portrait {
    border-radius: 0%;
    padding: 25px;
    background: #fff;
    margin-right: 20px;
  }

  .sidebar-info h4 {
    display: none;
  }

  .sidebar-leadboxes {
    display: none;
  }

  .sidebar-leadboxes-mob {
    display: block;
  }

  .sidebar-bottom {
    display: none;
  }
}