.job-top-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.top-buttons-right {
  display: flex;
  align-items: center;
}

.top-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7e7e;
  border-radius: 5%;
  padding: 16px;
}

.edit-lead {
  margin-left: 15px;
  display: flex;
  align-items: center;
  height: 50px;
}

.options {
  margin-left: 15px;
  padding: 5px;
  font-size: 1em
}

.mob-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mob-only {
    display: block;
  }

  .job-top-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .top-options {
    margin-bottom: 10px;
  }
}
