.popup {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  

.popupinner{  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 20rem;
  background-color: #f4f1f1;
}

.checkbox-jobtype {
  font-family: sans-serif;
  font-size: 20px;
}
.checkbox-jobtype label {
  padding: 0 30px 20px ;
  color: #858282;
}

.checkbox-jobtype input[type="radio"]{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.checkbox-title {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 10;
  padding: 20px;
  color: #858282;
}

.checkbox-list{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #858282;
}

.checkbox-list label {
  color: #858282;
  padding: 5px;
}

.checkbox-list input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background-color: #FFF;
}


.checklist-next-btn {
  border: none;
  background: #ff7e7e;
  padding: 8px 8px;
  border-radius: 3px;
  color: #858282;
  font-weight: 700;
  font-size: 1rem;
  width: 10rem;
}
.checklist-next-btn:hover {
  color: white;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dollar-box {
  display: flex;
  justify-content: center;
  height: 33px;
  width: 33px;
  background-color:white;
}

.dollar-sign {
  font-size: 26px;
  color: #858282;
  background-color:white;
}

.quote-input {
  width: 10rem;
  font-size: 26px;
  color: #858282;
  background-color: #E4E3E3;
}

.quote-inner-wrapper {
  display: flex;
  flex-direction: row;
  padding: 23px;

}