.job-followup-form,
.job-followup-form input,
.followup-comment {
  border: 1px solid #e4e3e3;
}

.job-followup-form {
  margin-top: 50px;
}

.job-followup-form-container {
  width: 97%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.followup-info {
  height: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 5px;
}

.followup-quote-btn {
  border: none;
  border-radius: 5%;
  border: 1px solid #ff7e7e;
  font-weight: 600;
  cursor: pointer;
}

.followup-quote-btn:hover {
  background: #ff7e7e;
}

.followup-comment {
  height: 4rem;
  width: 100%;
  margin-bottom: 5px;
}

.followup-upload-image {
  margin-bottom: 5px;
}

.followup-add-btn {
  border: none;
  background: #ff7e7e;
  padding: 8px 8px;
  border-radius: 3px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
}

.followup-add-btn:hover {
  color: #fff;
}

.checklist-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .job-followup-date {
    display: none;
  }
  .job-followup-by {
    display: none;
  }
  .followup-quote-btn {
    padding: 10px;
    border-radius: 5%;
  }
  .followup-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #tradeComments {
    height: 200px;
  }
}