.job-enquiry {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.margin-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* css for all enquiry span  */
.comments {
  font-weight: 700;
}

.p-font {
  font-size: 13px;
}
