.project-info-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e4e3e3;
  line-height: 30px;
}

.border-bottom {
  border-bottom: 1px solid #e4e3e3;
}

.project-info-row-left {
  width: 45%;
}

.project-info-row-right {
  width: 55%;
}

@media only screen and (max-width: 767px) {
  .project-info-row {
    flex-direction: column;
  }

  .project-info-row-left, .project-info-row-right {
    width: 100%;
    font-size: 1.3em;
  }

  .p-font {
    font-size: 0.8em !important;
    margin-bottom: 10px;
    width: 90vw;
  }
}