.register {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  border: 1px solid rgb(216, 213, 213);
  margin: 30px auto;
  padding: 25px;
  border-radius: 2%;
}

.register h1 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.register-form {
  height: 40%;
  width: 75%;
}

.register-form input {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.register-form select {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.btn-register {
  padding: 10px;
  margin: auto;
  width: 85px;
  border-radius: 10%;
  background: #ff7e7e;
  cursor: pointer;
}

.btn-text {
  text-align: center;
}

.btn-register:hover {
  color: #fff;
}
