* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #111111;
}

.logo, .button {
  /* background: #FF7E7E; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  width: 15vw;
  border: solid 1px black;
}

.sidebar-logo {
  color: #FF7E7E;
}