.login-form form {
  margin: 1rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form button {
  padding: 10px;
  margin: auto;
  width: 300px;
  font-size: 1.2rem;
  background-color: #ef8582;
  margin: 40px;
  color: grey;
}

.login-form input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  width: 60%;
  font-size: 1rem;
}

.login-form button:hover {
  background-color: #ffdbda;
}

.inner-form-login {
  flex-direction: column;
}

.inner-form-login input {
  background-color: #ffe8e7;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  margin: 40px 0 0 0;
  font-size: 1.2rem;
  color: grey;
}

.login-logo {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-size: 18vw;
  color: #ef8582;
}
